<h1 *ngIf="categoria == 'popular'" class="text-center display-2 mt-3 mb-5">Serie Tv Popolari</h1>
<h1 *ngIf="categoria == 'top_rated'" class="text-center display-2 mt-3 mb-5">Serie Tv Più Votate</h1>
<h1 *ngIf="categoria == 'on_the_air'" class="text-center display-2 mt-3 mb-5">Serie Tv In Corso</h1>

<a [routerLink]="['/home']" class="ms-3 h5">Torna alla home</a>

<div class="wrapper">

    <div class="card mb-3 mt-5" style="max-width: 540px;" *ngFor = "let serie of copertine" (click) = "clickCopertina(serie.id)">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + serie.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title mb-5 ms-3">{{serie.name}}</h2>
                <p *ngIf = "serie.vote_average != 0" class="ms-3">Voto: {{serie.vote_average}}</p>
            </div>
        </div>
        </div>
    </div>


</div>