<div class="d-flex justify-content-between">
    <div> </div>
    <h2 *ngIf="categoria == 'popular'" class="text-center display-3">Film Popolari</h2>
    <h2 *ngIf="categoria == 'top_rated'" class="text-center display-3">Film Più Votati</h2>
    <h2 *ngIf="categoria == 'upcoming'" class="text-center display-3">Film In Arrivo</h2>
    <img src="../../assets/immagini/logo.png" alt="" title="Vai alla home" class="align-self-center" [routerLink]="['/home']"> 
</div>
 


<div class="wrapper mt-4">

    <div class="card mb-3 mt-5" style="max-width: 540px;" *ngFor = "let film of movies" (click) = "clickCopertina(film.id)">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + film.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title mb-5 ms-3">{{film.title}}</h3>
                <p *ngIf = "film.vote_average != 0" class="ms-3">Voto: {{film.vote_average}}</p>
            </div>
        </div>
        </div>
    </div>


</div>
