<h1 class="text-center display-3 mt-4">{{dettagli?.title}}</h1>


<img *ngIf="dettagli?.poster_path" [src] = "'https://www.themoviedb.org/t/p/original/' + dettagli.backdrop_path">


<i class="fa fa-arrow-left" aria-hidden="true" (click)="goBack()"></i>

<div *ngIf="dettagli?.overview != '' " class="sinossi">
    <h3>Trama</h3>
    <p>{{dettagli?.overview}}</p>
</div>

<!--<div class="mt-5 iframeContainer">
    <h2 class="ms-2 mb-3">Guarda il trailer:</h2>
    <iframe [src]="'https://www.themoviedb.org/video/play?key=' + video?.key | safe" allowfullscreen allow="autoplay"></iframe>
</div>-->


<i class="fa-solid fa-play">&nbsp;&nbsp; <span>Riproduci</span></i>
    


<div class="generi">
    <h4>Genere: </h4>
    <span *ngFor = "let genere of dettagli?.genres">{{genere.name}}&nbsp;&nbsp;</span>
</div>

<h4>Data: <small>{{dettagli?.release_date | date}}</small></h4>

<div class="d-flex">
    <div *ngFor = "let simile of similarMovies"></div>
</div>