<div id="menu">

    <div><i class="fa fa-arrow-left" (click)="goBack()"></i></div>

    <h1 class="text-center display-4 mt-4">{{dettagli?.title}}</h1>

    <img src="../../assets/immagini/logo.png" alt="" title="Vai alla home" [routerLink]="['/home']">   

</div>


<img id="sfondo" *ngIf="dettagli?.backdrop_path" [src] = "'https://www.themoviedb.org/t/p/original/' + dettagli.backdrop_path">

<div *ngIf = "mostraTrailer" class="mt-5 iframeContainer">
    <iframe [src]="'https://www.themoviedb.org/video/play?key=' + video?.key | safe" allowfullscreen allow="autoplay"></iframe>
</div>

<section>
    <div *ngIf="dettagli?.overview != '' " id="sinossi">
        <h3>Trama</h3>
        <p>{{dettagli?.overview}}</p>
    </div>

    <div id="play">
        <i class="fa-solid fa-play">&nbsp;&nbsp; <span>Riproduci</span></i>
    </div>

    <div id="acquista">
        <button *ngIf="!acquistato" (click)="compra()" class="btn btn-outline-warning">Acquista <span><i class="fa-solid fa-cart-shopping"></i></span></button>
        <button *ngIf="acquistato" (click)="restituisci()" class="btn btn-outline-warning">Restituisci</button>
    </div>

    <div id="tastoTrailer">
        <button class="btn trailer" (click)="mostraTrailer = !mostraTrailer">{{mostraTrailer == false ? "Guarda trailer" : "Nascondi Trailer"}}</button>
    </div>

    <div id="data">
        <h5 class="data">Data: <small>{{dettagli?.release_date | date : 'dd/MM/YYYY'}}</small></h5>
    </div>
        
    <div id="generi">
        <h4>Genere: </h4>
        <span *ngFor = "let genere of dettagli?.genres">{{genere.name}}&nbsp;&nbsp;</span>
    </div>

</section>

<div id="simili" (click)="mostraSimili()">
    <h2>Titoli simili <i [class]="!simili ? 'fa-solid fa-arrow-down' : 'fa-solid fa-arrow-up'"></i></h2>
</div>

<div *ngIf="simili" class="wrapper" id="boxSimili">

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngFor = "let simile of similarMovies" (click) = "clickCopertina(simile.id)">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src] = "'https://www.themoviedb.org/t/p/original/' + simile.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title mb-5 ms-3">{{simile.title}}</h2>
                <p *ngIf = "simile.vote_average != 0" class="ms-3">Voto: {{simile.vote_average}}</p>
            </div>
        </div>
        </div>
    </div>

</div>
