/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: .3s;
    text-shadow: 1px 1px #000;
    cursor: pointer;
}

a:hover {
    color: #7f77da;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    /*transition: .5s;*/
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    min-height: 20em;
}

.card img, .card h2 {
    cursor: pointer;
    transition: .5s; 
    position: absolute;
}

.card h2 {
    text-shadow: 2px 2px #000;
    right: 1.5em;
    max-width: 12ch;
    font-size: 2em;
}


.card img {
    right: 60%;
    top: 0;
    z-index: -10;
    max-width: 40%;
}

.card p {
    position: absolute;
    bottom: 1em;
    right: 1em;
    text-shadow: 2px 2px #000;
}

.card:hover {
    border-color: #fff;
    cursor: pointer;
}

.card:hover img {
    /* -webkit-mask-image: linear-gradient(to right, transparent 0%, black 75%);
     mask-image: linear-gradient(to right, transparent 0%, black 75%); */
     border-radius: 0 !important;
     position: absolute;
     top: -50%;
     right: 0;
     max-width: 500px;
     margin-right: 0;
}

.card:hover h2 {
    font-size: 2.5em;
    max-width: 24ch;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1600px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr)
    }

    .card h2 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 1300px) {
  
    .card h2 {
        font-size: 1.2em;
    }

    .card {
        min-height: 15em;
    }

    .card:hover h2 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 950px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr)
    }

    .card img {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 75%);
     mask-image: linear-gradient(to right, transparent 0%, black 75%);
     border-radius: 0 !important;
     position: absolute;
     top: -50%;
     right: 0;
     max-width: 500px;
     margin-right: 0;
    }

    .card:hover h2 {
        font-size: 1.7em;
    }

    .card h2 {
     
        font-size: 1.7em;
        max-width: 24ch;
        
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        grid-template-columns: repeat(2, 1fr)
    }

   .card h2 {
    font-size: 1.3em;
   }
}

