<nav>       
    <ul class="flex-container">
        <li class = "flex-item">
            <span>Cerca</span>
        </li>
        <li class = "flex-item">
            <a href="javascript:void(0)"><img src="../../assets/immagini/logo.png" alt="logo"></a>
        </li>
        <li class = "flex-item">
            <a href="javascript:void(0)" (click)="logout()">Logout</a>
        </li>
    </ul>     
</nav>

<main>

    <h1 class="text-center mt-5 mb-5 display-1">HOME</h1>

    <h2 class="ms-4">Serie Tv</h2>

    <div class="wrapper">

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 540px;" *ngIf = "popularsCover?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + popularsCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">Popolari</h4>
            <h2 class="card-text">{{popularsCover.name}}</h2>
            <button class="btn" (click) = "vaiASezioneTv('popular')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 540px;" *ngIf = "topRatedCoverTv?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + topRatedCoverTv.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">Le più votate</h4>
            <h2 class="card-text">{{topRatedCoverTv.name}}</h2>
            <button class="btn" (click) = "vaiASezioneTv('top_rated')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 540px;" *ngIf = "onAirTvCover?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + onAirTvCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">In corso</h4>
            <h2 class="card-text">{{onAirTvCover.name}}</h2>
            <button class="btn" (click) = "vaiASezioneTv( 'on_the_air')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>
    </div>

    <h2 class="ms-4 mt-5">Film</h2>

    <div class="wrapper">

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 600px;" *ngIf = "upcomingMoviesCover?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + upcomingMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">In arrivo</h4>
            <h2 class="card-text">{{upcomingMoviesCover.title}}</h2>
            <button class="btn" (click) = "vaiASezioneFilm( 'upcoming')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 600px;" *ngIf = "topRatedMoviesCover?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + topRatedMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">I più votati</h4>
            <h2 class="card-text">{{topRatedMoviesCover.title}}</h2>
            <button class="btn" (click) = "vaiASezioneFilm( 'top_rated')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5 bg-transparent border-0 " style="max-width: 600px;" *ngIf = "popularMoviesCover?.poster_path">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + popularMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h4 class="card-title mb-5">I più popolari</h4>
            <h2 class="card-text">{{popularMoviesCover.title}}</h2>
            <button class="btn" (click) = "vaiASezioneFilm( 'popular')">Vedi tutti</button>
            </div>
        </div>
        </div>
    </div>
</div>

</main>



