
<app-navbar></app-navbar>

<main>

    <h1 class="text-center display-1">HOME</h1>

    <h2 class="ms-4">Serie Tv</h2>

    <div class="wrapper">

    <div class="card mb-3 mt-5 " style="max-width: 600px;" *ngIf = "popularsCover?.poster_path" (click) = "vaiASezioneTv('popular')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + popularsCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title display-4">Popolari</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngIf = "topRatedCoverTv?.poster_path" (click) = "vaiASezioneTv('top_rated')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + topRatedCoverTv.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                 <h2 class="card-title display-4">Le più votate</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngIf = "onAirTvCover?.poster_path" (click) = "vaiASezioneTv( 'on_the_air')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + onAirTvCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title display-4">In corso</h2>
            </div>
        </div>
        </div>
    </div>
    </div>

    <h2 class="ms-4 mt-5">Film</h2>

    <div class="wrapper">

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngIf = "upcomingMoviesCover?.poster_path" (click) = "vaiASezioneFilm( 'upcoming')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + upcomingMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h2 class="card-title display-4">In arrivo</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngIf = "topRatedMoviesCover?.poster_path" (click) = "vaiASezioneFilm( 'top_rated')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + topRatedMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h2 class="card-title display-4">I più votati</h2>
            </div>
        </div>
        </div>
    </div>

    <div class="card mb-3 mt-5" style="max-width: 600px;" *ngIf = "popularMoviesCover?.poster_path" (click) = "vaiASezioneFilm( 'popular')">
        <div class="row g-0">
        <div class="col-md-4">
            <img [src]="'https://www.themoviedb.org/t/p/original/' + popularMoviesCover.poster_path" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h2 class="card-title display-4">I più popolari</h2>
            </div>
        </div>
        </div>
    </div>
</div>

</main>

<footer class="mt-5">

    <ul id="social">
        <li><img src="../../assets/immagini/facebook.png" alt="facebook"></li>
        <li><img src="../../assets/immagini/instagram.png" alt="instagram"></li>
        <li><img src="../../assets/immagini/twitter.png" alt="twitter"></li>
        <li><img src="../../assets/immagini/youtube.png" alt="youtube"></li>
    </ul>

    <div class="links">
         <ul>
        <li><a href="javascript:void(0)">Centro Assistenza</a></li>
        <li><a href="javascript:void(0)">Note Legali</a></li>
        <li><a href="javascript:void(0)">Condizioni Di Utilizzo</a></li>
    </ul>

    <ul>
        <li><a href="javascript:void(0)">Privacy</a></li>
        <li><a href="javascript:void(0)">Preferenze Per I Cookie</a></li>
        <li><a href="#" id="contattaci">CONTATTACI</a></li>
    </ul>
    </div>
   

   
    <p><small>&copy; Copyright 2023, Fabrizio Conti</small></p>
   

</footer>



