/*#region MENU*/

.flex-container {
    display: flex;
}

nav .flex-container {
    justify-content: space-between;
}

nav .flex-item {
    align-self: center;
    padding: .5vw 2vw;
}

nav .flex-container img {
    width: 80px;
    margin-top: 10px;
}

nav i {
    cursor: pointer;
    transform: scale(1.5);
}

/*#endregion MENU*/

i.fa.fa-times {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 20;
    transform: scale(3);
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper .card {
    margin-left: 15px;
}

.wrapper img {
    cursor: pointer;
}

.wrapper .card h4 {
    text-shadow: 2px 2px #000;
    font-weight: bolder;
    color: #cdcdcd;
}

.wrapper .card .btn {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: .5s;
}

.wrapper .card .btn:hover {
    border: 1px solid #fff;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    margin-top: 15vh;
    position: relative;
}

footer #social {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer #social img {
    width: 36px;
    filter: invert();
    display: block;
    margin: 50px auto;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: space-around;
}

footer li {
    text-align: center;
}

footer a {
    font-size: smaller;
}

footer p {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);

}

